<tr>
  <td class="border p-1 break-all">{{ user.firstName }}</td>
  <td class="border p-1 break-all">{{ user.lastName }}</td>
  <td class="border p-1 break-all">{{ user.email }}</td>
  <td class="border p-1">{{ user.age }}</td>
  <td class="border p-1">{{ user.gender }}</td>
  <td class="border p-0.5">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white p-0.5 m-0.5 rounded"
    >
      edit
    </button>
    <button class="bg-red-500 hover:bg-red-700 text-white p-0.5 m-0.5 rounded">
      delete
    </button>
  </td>
</tr>
