<table class="table-auto mx-auto text-sm bg-slate-300 text-center mb-3">
  <thead>
    <tr>
      <th class="border p-1">First name</th>
      <th class="border p-1">Last name</th>
      <th class="border p-1">Email</th>
      <th class="border p-1 break-all">Age</th>
      <th class="border p-1 break-all">Gender</th>
      <th class="border p-1 break-all">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border p-1 break-all">Leanne</td>
      <td class="border p-1 break-all">Graham</td>
      <td class="border p-1 break-all">Sincere@april.biz</td>
      <td class="border p-1">52</td>
      <td class="border p-1">female</td>
      <td class="border p-1">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white p-0.5 m-0.5 rounded"
        >
          edit
        </button>
        <button
          class="bg-red-500 hover:bg-red-700 text-white p-0.5 m-0.5 rounded"
        >
          delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
