<table class="table-auto mx-auto text-sm bg-slate-300 text-center mb-3">
  <thead>
    <tr>
      <th class="border p-1">First name</th>
      <th class="border p-1">Last name</th>
      <th class="border p-1">Email</th>
      <th class="border p-1 break-all">Age</th>
      <th class="border p-1 break-all">Gender</th>
      <th class="border p-1 break-all">Actions</th>
    </tr>
  </thead>
  <tbody>
    <app-user-table-item
      class="contents"
      *ngFor="let user of users; let i = index"
      [user]="user"
    ></app-user-table-item>
  </tbody>
</table>
